<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Primer Pagina Web</title>
    
</head>
<body>
    <header>
        <h1>Mi Página Web</h1>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="#acerca">Acerca de</a></li>
                <li><a id="mostrarUsuarios" href="#">Usuarios</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <h1>Insertar Usuario</h1>
    <form action="/validar" method="post">
        <h2>Formulario de Registro</h2>
        <div class="form-group">
            <label for="nombres">Nombre:</label>
            <input type="text" id="nombres" name="nombres">
            <div class="error-message" id="nameError"></div>
        </div>
        <div class="form-group">
            <label for="apellidos">Apellido:</label>
            <input type="text" id="apellidos" name="apellidos">
            <div class="error-message" id="nameError"></div>
        </div>
        <div class="form-group">
            <label for="correo">Correo:</label>
            <input type="text" id="correo" name="correo">
            <div class="error-message" id="nameError"></div>
        </div>
        <div class="form-group">
            <label for="edad">Edad:</label>
            <input type="text" id="edad" name="edad">
            <div class="error-message" id="nameError"></div>
        </div>
        <div class="form-group">
            <label for="telefono">Telefono:</label>
            <input type="text" id="telefono" name="telefono">
            <div class="error-message" id="nameError"></div>
        </div>
        <button type="submit">Enviar</button>
    </form>
    
</body> 
</html>